<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row pd">
      <div class="col-6 pd">
        <ion-card class="card">
          <ion-icon class="icon" style="color: #67f1af;" name="notifications"></ion-icon>
          <ion-card-subtitle>Followups</ion-card-subtitle>
        </ion-card>
      </div>
      <div class="col-6 pd">
        <ion-card class="card">
            <ion-icon class="icon" style="color: #8ac348;" name="calendar"></ion-icon>
            <ion-card-subtitle>Calendar</ion-card-subtitle>
        </ion-card>
      </div>
    </div>
    <div class="row pd">
      <div class="col-6 pd">
        <ion-card class="card">
          <ion-icon class="icon" style="color: #1d99f9;" name="call"></ion-icon>
          <ion-card-subtitle>Call logs</ion-card-subtitle>
        </ion-card>
      </div>
      <div class="col-6 pd">
        <ion-card class="card">
            <ion-icon class="icon" style="color: #ed787b;" name="trending-up"></ion-icon>
            <ion-card-subtitle>Request Report</ion-card-subtitle>
        </ion-card>
      </div>
    </div>
    <div class="row pd">
      <div class="col-6 pd">
        <ion-card class="card">
          <ion-icon class="icon" style="color: #ca5d60;" name="stats-chart"></ion-icon>
          <ion-card-subtitle>Advanced Report</ion-card-subtitle>
      </ion-card>
      </div>
      <div class="col-6 pd">
        <ion-card class="card">
            <ion-icon class="icon" style="color: #4c9c50;" name="logo-whatsapp"></ion-icon>
            <ion-card-subtitle>Whatsapp template</ion-card-subtitle>
        </ion-card>
      </div>
    </div>
    <div class="row pd">
      <div class="col-6 pd">
        <ion-card class="card">
          <ion-icon class="icon" style="color: #ffad3c;" name="chatbox"></ion-icon>
          <ion-card-subtitle>SMS Template</ion-card-subtitle>
      </ion-card>
      </div>
      <div class="col-6 pd">
        <ion-card class="card">
           <ion-icon class="icon" style="color: #1f89e7;" name="mail"></ion-icon>
            <ion-card-subtitle>Email template</ion-card-subtitle>
        </ion-card>
      </div>
    </div>
    <div class="row pd">
      <div class="col-6 pd">
        <ion-card class="card">
          <ion-icon class="icon" style="color: #3680be ;" name="repeat"></ion-icon>
          <ion-card-subtitle>Recurring Followups</ion-card-subtitle>
      </ion-card>
      </div>
      <div class="col-6 pd">
        <ion-card class="card">
          <ion-icon class="icon" style="color: #f2a748;" name="sync"></ion-icon>
            <ion-card-subtitle>Rechurn Data</ion-card-subtitle>
        </ion-card>
      </div>
    </div>
    <div class="row pd">
      <div class="col-6 pd">
        <ion-card class="card">
          <ion-icon class="icon" style="color: #ff5152;" name="people"></ion-icon>
          <ion-card-subtitle>Interactions</ion-card-subtitle>
      </ion-card>
      </div>
      <div class="col-6 pd">
        <ion-card class="card">
          <ion-icon class="icon" style="color: #6739bb;" name="person"></ion-icon>
            <ion-card-subtitle>Team Live Status</ion-card-subtitle>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
