<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-container">
      <h1>Filters</h1>
      <h2>Done</h2>
    </div>
    <p>Sort by</p>
    <div class="row mt">
      <div class="col-3">
        <ion-card class="card">
          <div class="card-body">
            <span>AZ</span>
            <ion-icon name="arrow-up-outline"></ion-icon>
          </div>
          <div class="card-text">
            <p>Name</p>
          </div>
          <div class="card-text">
            <span>A-Z</span>
          </div>
        </ion-card>
      </div>
      <div class="col-3">
        <ion-card class="card">
          <div class="card-body">
            <ion-icon name="menu"></ion-icon>
            <ion-icon name="arrow-up-outline"></ion-icon>
          </div>
          <div class="card-text">
            <p>Created</p>
          </div>
          <div class="card-text">
            <span>New to Old</span>
          </div>
        </ion-card>
      </div>
      <div class="col-3">
        <ion-card class="card">
          <div class="card-body">
            <ion-icon name="menu"></ion-icon>
            <ion-icon name="arrow-up-outline"></ion-icon>
          </div>
          <div class="card-text">
            <p>Created</p>
          </div>
          <div class="card-text">
            <span>Old to New</span>
          </div>
        </ion-card>
      </div>
      <div class="col-3">
        <ion-card class="card">
          <div class="card-body">
            <span style="font-size: 26px;">!</span>
            <ion-icon name="arrow-up-outline"></ion-icon>
          </div>
          <div class="card-text">
            <p>Name</p>
          </div>
          <div class="card-text">
            <span>A-Z</span>
          </div>
        </ion-card>
      </div>
    </div>


    <p>Filter by Status</p>
    <div class="content">
      <div class="filterDiv cars">Abroad&nbsp;Education</div>
      <div class="filterDiv colors fruits">Admission&nbsp;Done</div>
      <div class="filterDiv colors fruits">Admission&nbsp;Not&nbsp;Done</div>
      <div class="filterDiv colors">After&nbsp;ATMA</div>
      <div class="filterDiv cars">After&nbsp;CAT</div>
      <div class="filterDiv colors">After&nbsp;CMAT</div>
      <div class="filterDiv colors fruits">After&nbsp;NMAT</div>
      <div class="filterDiv colors">After&nbsp;Result</div>
      <div class="filterDiv cars">After&nbsp;CAT</div>
      <div class="filterDiv colors">After&nbsp;CMAT</div>
      <div class="filterDiv cars">After&nbsp;CAT</div>
      <div class="filterDiv colors">After&nbsp;CMAT</div>
      <div class="filterDiv colors fruits">After&nbsp;NMAT</div>
      <div class="filterDiv colors">After&nbsp;Result</div>
      <div class="filterDiv cars">After&nbsp;CAT</div>
      <div class="filterDiv colors">After&nbsp;CMAT</div>
    </div>
  </div>
</ion-content>