<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-container">
      <ion-title>Allocation</ion-title>
      <ion-icon name="search-outline"></ion-icon>
      <ion-icon name="call"></ion-icon>
      <ion-icon name="options-outline"></ion-icon>
      <ion-icon name="people"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <p class="text-center"><ion-icon name="arrow-down-outline"></ion-icon>Swipe down to refresh</p>
    <p style="padding-top: 10px;">Total - 4363</p>
    <div class="row pd-card">
      <ion-card class="card">
        <ion-list>
          <ion-item>
            <div class="card-body">
              <div class="card-pd">
                <p>Hot followup</p>
                <p style="font-size: 20px;">Sidhi&nbsp;kesari</p>
              </div>
              <div style="display: flex;">
                <div class="card-body-par">
                  <p>9:42&nbsp;AM,Today</p>
                  <p style="padding-left: 23px;">By:Deepthi</p>
                </div>
                <div class="card-body-div">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div class="row pd-card">
      <ion-card class="card">
        <ion-list>
          <ion-item>
            <div class="card-body">
              <div class="card-pd">
                <p>Call Back</p>
                <p style="font-size: 20px;">YOGA&nbsp;SREE.M</p>
              </div>
              <div style="display: flex;">
                <div class="card-body-par">
                  <p>9:42&nbsp;AM,Today</p>
                  <p style="padding-left: 23px;">By:Deepthi</p>
                </div>
                <div class="card-body-div">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div class="row pd-card">
      <ion-card class="card">
        <ion-list>
          <ion-item>
            <div class="card-body">
              <div class="card-pd">
                <p>Call Back</p>
                <p style="font-size: 20px;">YOGA&nbsp;SREE.M</p>
              </div>
              <div style="display: flex;">
                <div class="card-body-par">
                  <p>9:42&nbsp;AM,Today</p>
                  <p style="padding-left: 23px;">By:Deepthi</p>
                </div>
                <div class="card-body-div">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div class="row pd-card">
      <ion-card class="card">
        <ion-list>
          <ion-item>
            <div class="card-body">
              <div class="card-pd">
                <p>Call Back</p>
                <p style="font-size: 20px;">YOGA&nbsp;SREE.M</p>
              </div>
              <div style="display: flex;">
                <div class="card-body-par">
                  <p>9:42&nbsp;AM,Today</p>
                  <p style="padding-left: 23px;">By:Deepthi</p>
                </div>
                <div class="card-body-div">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div class="row pd-card">
      <ion-card class="card">
        <ion-list>
          <ion-item>
            <div class="card-body">
              <div class="card-pd">
                <p>Call Back</p>
                <p style="font-size: 20px;">YOGA&nbsp;SREE.M</p>
              </div>
              <div style="display: flex;">
                <div class="card-body-par">
                  <p>9:42&nbsp;AM,Today</p>
                  <p style="padding-left: 23px;">By:Deepthi</p>
                </div>
                <div class="card-body-div">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div class="row pd-card">
      <ion-card class="card">
        <ion-list>
          <ion-item>
            <div class="card-body">
              <div class="card-pd">
                <p>Call Back</p>
                <p style="font-size: 20px;">YOGA&nbsp;SREE.M</p>
              </div>
              <div style="display: flex;">
                <div class="card-body-par">
                  <p>9:42&nbsp;AM,Today</p>
                  <p style="padding-left: 23px;">By:Deepthi</p>
                </div>
                <div class="card-body-div">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div class="row pd-card">
      <ion-card class="card">
        <ion-list>
          <ion-item>
            <div class="card-body">
              <div class="card-pd">
                <p>Call Back</p>
                <p style="font-size: 20px;">YOGA&nbsp;SREE.M</p>
              </div>
              <div style="display: flex;">
                <div class="card-body-par">
                  <p>9:42&nbsp;AM,Today</p>
                  <p style="padding-left: 23px;">By:Deepthi</p>
                </div>
                <div class="card-body-div">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div class="row pd-card">
      <ion-card class="card">
        <ion-list>
          <ion-item>
            <div class="card-body">
              <div class="card-pd">
                <p>Call Back</p>
                <p style="font-size: 20px;">YOGA&nbsp;SREE.M</p>
              </div>
              <div style="display: flex;">
                <div class="card-body-par">
                  <p>9:42&nbsp;AM,Today</p>
                  <p style="padding-left: 23px;">By:Deepthi</p>
                </div>
                <div class="card-body-div">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div class="row pd-card">
      <ion-card class="card">
        <ion-list>
          <ion-item>
            <div class="card-body">
              <div class="card-pd">
                <p>Call Back</p>
                <p style="font-size: 20px;">YOGA&nbsp;SREE.M</p>
              </div>
              <div style="display: flex;">
                <div class="card-body-par">
                  <p>9:42&nbsp;AM,Today</p>
                  <p style="padding-left: 23px;">By:Deepthi</p>
                </div>
                <div class="card-body-div">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div class="row pd-card">
      <ion-card class="card">
        <ion-list>
          <ion-item>
            <div class="card-body">
              <div class="card-pd">
                <p>Call Back</p>
                <p style="font-size: 20px;">YOGA&nbsp;SREE.M</p>
              </div>
              <div style="display: flex;">
                <div class="card-body-par">
                  <p>9:42&nbsp;AM,Today</p>
                  <p style="padding-left: 23px;">By:Deepthi</p>
                </div>
                <div class="card-body-div">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
  </div>
</ion-content>